Client/Service References/ServiceReference1/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:10003/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfContract" />
  <xs:element name="addWorker">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfContract" minOccurs="0" name="w" nillable="true" type="q1:Worker" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addWorkerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfContract" minOccurs="0" name="getAllResult" nillable="true" type="q2:ArrayOfWorker" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCountOfWorkersWithSalaryGreaterThen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="avg" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Wynik">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>